body {
background-image: url("../img/shutterstock_138721493.jpg");
background-size: cover;
background-repeat: no-repeat; 
background-attachment: fixed;    
    

    
}
    
@font-face {
    font-family: 'abinbev';
    src: url(assets//fonts/ABInBevHeadlines.ttf);
    font-weight:100;
}


p, button, li{
    font-family: abinbev;
    font-weight: 100;
    
} 


/* The navigation menu links */
hr
{
width: 80%;
border-top: 0.5px solid white;
}


h1{
    
    color: white ;
}

h2{
    color: white;
    text-align: center;
    font-size: 12px;
}

h3{
    font-family: abinbev;
    font-weight: bold;
   
    color: black; 
}

h4{
    text-align: left;
    width: 40%;
    font-size: 16px;
}


li{
    display: inline-block;
    margin-left: 3px;
}

.nav-side-menu {
  overflow: auto;
  font-family: abinbev;
  font-size: 18px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
 background: rgba(0, 0, 0,0.5);
  z-index: 2;
}
.nav-side-menu .brand {
  background-color: #2e353d;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0,0);
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  width: 100%;
  
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.nav-side-menu li {
  padding-left: 0px;

}
.nav-side-menu li a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.social-media-container {
  display: flex;
  justify-content: center;
}

.social-media-container .social-media-a {
  display: flex;
  width: initial;
  padding: 20px;
}

.social-media-container .social-media-a i {
  padding-left: 0;
  padding-right: 0;
}

.accordion {
    font-family: abinbev;
    background-color: gray;
    color: black;
    cursor: pointer;
    padding: 1px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid black;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel{
    
    padding: 1px;
    background-color: solid white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: relative;
}

}


    
}

li{
    display: inline-block;
    margin-left: 3px
}



footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
    z-index: 1;
}

page-footer {
  background-color: black;

}



.jumbotron {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: content-box;
    margin-left: 300px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 150vh;
   
}

form {

  width: 60%;
  margin: auto;
}


    
.responsive-img { 
   
width: 10%;
}
    
.img-faq{
    padding: 10px;
    float: right; 
}
a{
    color: white;
    
}

p{
    border: 2px;
    
}