@font-face {
  font-family: 'abinbev';
  src: url(assets//fonts/ABInBevHeadlines.ttf);
  font-weight:100;
}

body {
  background-image: url("../img/shutterstock_138721493.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.col-goals { font-family: abinbev; }

.col-goals-water {
  font-family: abinbev;
  font-size: 20px;
}

.modal-title {
  font-family: abinbev;
  font-size: 25px;
  font-weight: bold;
}

hr {
  width: 80%;
  border-top: 0.5px solid white;
}

h1 { color: white; }

h2 {
  color: white;
  text-align: center;
  font-size: 12px;
}

h3 {
  color: black;
  font-family: abinbev;
  font-weight: bold;
}

p {
  font-family: abinbev;
  font-size: 20px;
  padding-bottom: 9px;
}

li {
  display: inline-block;
  margin-left: 3px;
}

.nav-side-menu {
  overflow: auto;
  font-family: abinbev;
  font-size: 18px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  background: rgba(0, 0, 0,0.5);
  z-index: 2;
}

.nav-side-menu .brand {
  background-color: #2e353d;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0,0);
}
.nav-side-menu .toggle-btn { display: none; }

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  width: 100%;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.nav-side-menu li { padding-left: 0px; }

.nav-side-menu li a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.social-media-container {
  display: flex;
  justify-content: center;
}

.social-media-container .social-media-a {
  display: flex;
  width: initial;
  padding: 20px;
}

.social-media-container .social-media-a i {
  padding-left: 0;
  padding-right: 0;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 15px;
}

page-footer { background-color: black; }

.responsive-img { width: 10%; }

.jumbotron {
  background: rgba(255, 255, 255, 0.8);
  box-sizing: content-box;
  margin-left: 300px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 100vh;
  padding: 3vw 6rem;
}

.jumbotron p { font-size: 1.5vw; }

.jumbotron .col {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

form {
  width: 60%;
  margin: auto;
}

.modal-content{
  background-color:#6b7fa0;
  background: rgba(0, 0, 255, 0.8);
  color: white;
}

.btn, button {
  background-color: orange !important;
  border-radius: 12px;
  background-attachment: fixed;
}

.image-button { padding: 0; }

.image-button img {
  border-radius: 12px;
}

.our-goal-modal .modal-dialog {
  max-width: 950px;
  border-radius: 12px;
}

.water-shed-modal-image,
.climate-shed-modal-image,
.smart-shed-modal-image,
.package-shed-modal-image,
.human-shed-modal-image {
  width: 100%;
}

.page-header {
  font-size: 3vw;
  margin: 5px 0 40px 0;
}

.logo-img {
  width: 250px;
  height: 250px;
}

@media (max-width: 767px) {

  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  .jumbotron { 
    margin-left: 0;
    padding: 0 30px;;
    text-align: center;
  }

  .jumbotron p {
    font-size: 4vw;
  }

  .jumbotron .col {
    flex-basis: auto;
    margin-bottom: 30px;
  }

  .logo-img {
    width: 75px;
    height: 75px;
  }

  .page-header {
    font-size: 8vw;
    margin-top: 0;
    padding-top: 50px;
  }

  .nav-side-menu {
    margin-bottom: 0;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content { display: block; }
}